<h2>Artist Search Result</h2>

<div *ngFor="let a of artists">
    <img [src] = "a.strArtistThumb">
    <h2>{{ g.title }}</h2>
    <a [href]="g.url">
      <img [src]="g.imageUrl">
    </a>
</div>
  

<h5>Name: {{Name}}</h5>
<h5>Introduction: {{Introduction}}</h5>
<h5>Information: {{Information}}</h5>
<h5>Rating: {{Rating}}</h5>
<h5>Type: {{Type}}</h5>
<h5>NearestMRTStation: {{NearestMRTStation}}</h5>
<h5>Official Website: {{OfficialWebsite}}</h5>
<h5>Official Email: {{OfficialEmail}}</h5>
<h5>Location: {{Location}}</h5> -->

<div data-th-each="f: ${artist}" class="container" style="background: #FFEFD5">
    <div class="card border-0">
        <div class="row">
            <div class="col-md-4">
                <img data-th-src="${f.strArtistThumb}" class="img-fluid img-thumbnail">
                <img data-th-src="${f.strArtistLogo}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3 data-th-text="'Artist: ' + ${f.strArtist}" class="card-title"></h3>
                <p data-th-text="'ID: ' + ${f.idArtist}" class="card-text"></p>
                <p data-th-text="'Label: ' + ${f.strLabel}" class="card-text"></p>
                <p data-th-text="'YearFormed: ' + ${f.intFormedYear}" class="card-text"></p>
                <p data-th-text="'Style: ' + ${f.strStyle}" class="card-text"></p>
                <p data-th-text="'Genre: ' + ${f.strGenre}" class="card-text"></p>
                <p data-th-text="'Biography: ' + ${f.strBiographyEn}" class="card-text para"></p>
                <p data-th-text="'Country: ' + ${f.strCountry}" class="card-text">/p>
            </div>
            </div>
        </div>
    </div>